<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indian Word Guessing Game</title>
  <link rel="stylesheet" href="static\\guess-style.css">
</head>
<body>
  <div class="container">
    <h1>India Discover 🤍</h1>
    <h2>Unravel the Tapestry of India's Rich Heritage and Culture</h2>
    <div id="word"></div>
    <div id="letters" class="letters"></div>
    <div id="message"></div>
    <button id="resetBtn" onclick="resetGame()">Reset Game</button>
  </div>
  <script src="static\\js\\guess-script.js"></script>
</body>
</html>
