<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Game</title>
    <link rel="stylesheet" href="static\\memory-style.css" />
  </head>
  <body>
     <div class="container">
      <div id="message"></div>
      <h1>Memory Game</h1>
      <!-- Add this line in your HTML body -->
      <div id="timer">Time: 05:00</div>
      <!-- Add this line in your HTML body -->
      <div id="score">Moves: 0</div>

      <div id="game-container" class="game-container"></div>
    </div>
    <script src="static\\js\\memory-script.js"></script>
  </body>
</html>
