<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reflexology</title>
    <link rel="stylesheet" type="text/css" href="static\\yoga-style.css">
</head>
<body>
    <h1>REFLEXOLOGY POINTS</h1>
    <div class="wrapper">
          <!-- First row of 3 cards -->
          <div class="row">
              <div class="card">
                  <input type="checkbox" id="card1" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\third_eye.jpeg');">
                          <div class="inner">
                              <h2>THIRD EYE</h2>
                              
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It helps in reducing excess body weight, strengthens legs and arms, and helps in improving digestion.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card2" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\headache.jpeg');">
                          <div class="inner">
                              <h2>VUNION VALLEY</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It strengthens legs, improves balance, enhances focus, and instills a sense of determination and resilience.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card3" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\zusanli.jpeg');">
                          <div class="inner">
                              <h2>ST 36</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It improves the strength of your back and legs and tends to improve your balance when practiced regularly.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          
            <div class="try-it-out">
                <a href="{{ url_for('yoga_try') }}">
                    <button>TRY IT OUT</button>
                </a>
            </div>
            
            </div>
            </body>
            </html>